
<div class="section-colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div id="myCarousel" class="carousel slide">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                      <div class="item active">
                        <!-- <img url="'assets/images/NC15_group.png)"/> -->
                          <div class="fill" style="background-image:url('assets/images/NC15_group.png');"></div>
                          <div class="carousel-caption">
                              <h1></h1>
                          </div>
                      </div>
                      <div class="item">
                          <div class="fill" style="background-image:url('assets/images/NC15_group.png');"></div>
                          <div class="carousel-caption">
                              <h1>International Buyer Financing Available</h1>
                          </div>
                      </div>
                      <div class="item">
                          <div class="fill" style="background-image:url('assets/images/NC15_group.png');"></div>
                          <div class="carousel-caption">
                              <h1>Family Owned for Four Generations</h1>
                          </div>
                      </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="icon-prev"></span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="icon-next"></span>
                  </a>
              </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h2><i class="fa fa-newspaper-o"></i> News </h2>
                <hr></hr>

                <h4>Congratulations to our 2016-2017 Executive Board!</h4>
                <p>President: Elizabeth Chu  </br>
                  Vice President: Joy Gu </br>
                  VP of Outreach: Angela Lin </br>
                  VP of Corporate Relations: Waverly Runion </br>
                  Secretary: Annie Pan </br>
                  Treasurer: Tanisha Randhawa
                </p>

                <hr></hr>

                <div class="container-fluid">

                  <div class="row well">
                      <div class="col-lg-8 col-md-8">
                          <h4>Want to get updates about SWE and our events?</h4>
                          <p>(Make sure to enter the email address that you would like to receive your SWEmail. You may also enter your name and a privacy password if you want.)</p>

                      </div>
                      <div class="col-lg-4 col-md-4">
                          <a type="button" class="btn btn-primary" href="https://calmail.berkeley.edu/manage/list/listinfo/swe.berkeley@lists.berkeley.edu">Sign up for our mailing list!
                          </a>

                      </div>
                  </div>
                </div>


            </div>
            <div class="col-lg-4 col-md-4">
                <h2><i class="fa fa-calendar"></i> Upcoming Events </h2>
                <article id="main">


    <section class="wrapper style4 special container ">
      <p>We look forward to seeing you at these following events!</p>
      <iframe src="https://calendar.google.com/calendar/embed?title=SWE%20Events&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ccccff&amp;src=phrivnjgo1i6s4iisp61ige25g%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FLos_Angeles" style="border-width:0" class="col-lg-4 col-md-4" height="400px" frameborder="0" scrolling="no"></iframe>
    </section>

</article>
                <hr>
                <a class="twitter-timeline" href="https://twitter.com/UCB_SWE" height="400px">Tweets by UCB_SWE</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<!-- /.section-colored -->

<!-- /.container -->
