<div class="container">

  <!-- Our Customers -->

  <div class="row">

      <div class="col-lg-12">
          <h2 class="page-header">Our Sponsors</h2>
          For information about becoming a corporate sponsor, look at our
          <a href="/corporatepackage/">Corporate Packages</a> page.
        </br>
      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Platinum Bear Sponsors</h4>

        <div class="col-md-5 col-sm-5 col-xs-5 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/gm_big.jpg">
        </div>

        <div class="col-md-5 col-sm-5 col-xs-5 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/applied_materials_logo.png">
        </div>

      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Golden Bear Sponsors</h4>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/abs_logo.png">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/adobe_logo.png">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/chevron_logo.png">
        </div>
      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Silver Bear Sponsors</h4>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/cisco.gif">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/ebay.gif">
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/pwc.png">
        </div>

      </div>

      <div class="col-lg-12">
        <h4 class="sponsor-title">Bronze Bear Sponsors</h4>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/a9.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/alphabet_energy.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/att.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/cbs_interactive.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/dow_chemical.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/dpr_construction.png">
        </div>


        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/genentech.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/google.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intel.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/joyus_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/LLNL_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/lockheed_martin.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/microsoft.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/osisoft_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/workday.gif">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/yelp.png">
        </div>
      </div>


      <div class="col-lg-12">
        <h4 class="sponsor-title">Start Up Expo</h4>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/citrine.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/confident_cannabis.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/luma_health.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/pixlee.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/swift.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/upstart.png">
        </div>


        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/versame.png">
        </div>
      </div>



      <div class="col-lg-12">
        <h4 class="sponsor-title">General Sponsors</h4>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/agilent_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/apple.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/boeing.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/box_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/dji_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/groupon_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/intuitive_surgical.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/kla_tencor.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/maxim_integrated_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/nerdwallet_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/siemens_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
          <a href="https://www.studypool.com" target="_blank">
              <img class="img-responsive img-customer" src="assets/images/sponsors/logos/studypool.png">
            </a>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/tradeshift_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/vmware_logo.png">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6 vcenter">
            <img class="img-responsive img-customer" src="assets/images/sponsors/logos/walmart.png">
        </div>
      </div>

  </div>



</div>
<!-- /.container -->
