<footer>


<div class="section-colored">
  <div class="container">
    <div class="text-cneter row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <strong>
          Links
        </strong>
          <ul class="list-unstyled">
              <li><a href="http://swe.org/">Society of Women Engineers</a></li>
              <li><a href="http://regiona.swe.org/">Society of Women Engineers - Region A</a></li>
              <li><a href="http://engineering.berkeley.edu/">UC Berkeley College of Engineering</a></li>
          </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="section">
  <div class="container">
    <div class="text-center">

      <!-- Social media -->
      <div class="row">

        <!-- Twitter -->
        <a href="https://twitter.com/ucb_swe" class="twitter-follow-button" data-show-count="false">Follow @ucb_swe</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!-- Facebook -->
        <div class="fb-like btn" data-href="https://www.facebook.com/ucbswe" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <address>
        <strong>Email</strong><br>
        <a href="mailto:swe.berkeley@gmail.com ">swe.berkeley@gmail.com </a>
      </address>
      </div>
      <p>We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.</p>
      <p>All Rights Reserved © 2016 SWE, UC Berkeley Section</p>
    </div>
    <!-- /.container -->
  </div>
</div>
</footer>
